body{
  background-color: #EFFFFD;

}
hr{
  border-color: #FF6363;
  border-style: dotted none none none;
  border-width:thick;
  width:3%;

}
h1{color:#066163;

}
h3{
  color: #FDAF75;
}
